.gallery-metadata {
    text-align: center;
    font-family: 'Alfa Slab One', serif;
    color: var(--bs-orange);
    border-width: 0px;
    border-radius: 12px;
    background: linear-gradient(115deg, var(--bs-highlight-bg) 0%, rgba(255, 255, 255, 0.44));
    margin-top: 11px;
}

.gallery-menulink {
    /* text-align: center; */
    width: 250px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    background: linear-gradient(107deg, var(--bs-highlight-bg), rgba(255, 255, 255, 0.33));
    border-width: 0px;
    border-radius: 20px;
}

.gallery-example {
    font-family: 'Alfa Slab One', serif;
    color: var(--bs-orange);
    border-radius: 20px;
    white-space: normal !important;
}